@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;400;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

.hero-mask {
  -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  mask-image: linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}

.top-mask {
  -webkit-mask-image: linear-gradient(0deg,rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  mask-image: linear-gradient(0deg,rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}
@tailwind utilities;
